body {
    font-family: Arial, sans-serif;
    color:rgb(214, 180, 137);
    background-color: #050301;
  }
  
  header {
    text-align: center;
    padding: 30px;
  }
  
  section {
    padding: 30px;
  }
  
  footer {
    text-align: center;
    padding: 30px;
  }
  